/* Stylesheet for all invoice-sub views */

table.invoice-sub { border: 2px solid #AAA; }

table.invoice-sub tr { border-bottom: 1px solid #AAA; }

table.invoice-sub tr.row1 { background-color: #EEE; }

table.invoice-sub td { padding: 2px; padding-right: 1em; }

td.pad { padding: 10px; }

.calc { border: 0; text-align: right; }
